In [7]:
import sqlite3
print(sqlite3.sqlite_version_info)

try:
    # db connection object
    conn = sqlite3.connect("/Users/followthesnake/Desktop/data/sqlite_db")

    # sql run object
    cursor = conn.cursor()

    # table
    sql='create table if not exists test_table(name text(10), phone text(15), addr text(50))'
    cursor.execute(sql)

    # adding records
    cursor.execute("insert into test_table values('Tyler', '010-1111-1111', 'Seoul')")
    cursor.execute("insert into test_table values('Koodal', '010-2222-2222', 'Seoul')")
    cursor.execute("insert into test_table values('Jojo', '010-3333-3333', 'Seoul')")
    conn.commit()

    # record search
    cursor.execute("select * from test_table")
    rows = cursor.fetchall()

    for row in rows:
        print(row)

    print('name \tPhone number \taddress')
    for row in rows:
        print(row[0], '\t',row[1],'\t',row[2])
except Exception as e:
    print('db connection fail: ', e)
    conn.rollabck() #실행 취소

finally:
    cursor.close()
    conn.close()

(3, 36, 0)
('Tyler', '010-1111-1111', 'Seoul')
('Koodal', '010-2222-2222', 'Seoul')
('Jojo', '010-3333-3333', 'Seoul')
('Tyler', '010-1111-1111', 'Seoul')
('Koodal', '010-2222-2222', 'Seoul')
('Jojo', '010-3333-3333', 'Seoul')
('Tyler', '010-1111-1111', 'Seoul')
('Koodal', '010-2222-2222', 'Seoul')
('Jojo', '010-3333-3333', 'Seoul')
name 	Phone number 	address
Tyler 	 010-1111-1111 	 Seoul
Koodal 	 010-2222-2222 	 Seoul
Jojo 	 010-3333-3333 	 Seoul
Tyler 	 010-1111-1111 	 Seoul
Koodal 	 010-2222-2222 	 Seoul
Jojo 	 010-3333-3333 	 Seoul
Tyler 	 010-1111-1111 	 Seoul
Koodal 	 010-2222-2222 	 Seoul
Jojo 	 010-3333-3333 	 Seoul

### sqlite CRUD

In [20]:
import sqlite3

try:
    conn = sqlite3.connect("/Users/followthesnake/Desktop/data/sqlite2_db")
    cursor = conn.cursor()

    # create new table
    sql = """create table if not exists goods(
    code integer primary key,
    name text(30) unique not null,
    stock integer default 0,
    dan real default 0.0
    )"""
    cursor.execute(sql)
    '''
    cursor.execute("insert into goods values(1, 'fridge', 2, 85000000)")
    cursor.execute("insert into goods values(2, 'washing', 3, 55000000)")
    cursor.execute("insert into goods (code, name) values(3, 'oven')")
    cursor.execute("insert into goods (code, name, dan) values(4, 'HDTV', 1500000)")

    conn.commit()
    '''

    # search
    sql = "select * from goods"
    cursor.execute(sql)
    rows = cursor.fetchall()

    for row in rows:
        print(row[0], row[1], row[2], row[3])
        print('number of searched records: ', len(rows))

    # searching the product name

    name = input("Enter the product name: ")
    sql = f"select * from goods where name like '%{name}'"
    cursor.execute(sql)
    rows = cursor.fetchall()

    if rows :
        for row in rows:
            print(row)
    else:
        print('no searched record')

except Exception as e:
    print("Exception: ", e)
    conn.rollback()
finally:
    cursor.close()
    conn.close()

Exception:  UNIQUE constraint failed: goods.code

In [24]:
import sqlite3

try:
    conn = sqlite3.connect("/Users/followthesnake/Desktop/data/sqlite2_db")
    cursor = conn.cursor()

    # create new table
    sql = """create table if not exists goods(
    code integer primary key,
    name text(30) unique not null,
    stock integer default 0,
    dan real default 0.0
    )"""
    cursor.execute(sql)
    '''
    cursor.execute("insert into goods values(1, 'fridge', 2, 85000000)")
    cursor.execute("insert into goods values(2, 'washing', 3, 55000000)")
    cursor.execute("insert into goods (code, name) values(3, 'oven')")
    cursor.execute("insert into goods (code, name, dan) values(4, 'HDTV', 1500000)")

    conn.commit()
    '''


    # record insert
    """
    code = int(input('code: '))
    name = input('name: ')
    stock = int(input('stock: '))
    dan = int(input('dan: '))

    sql = f"insert into goods values({code}, '{name}', '{stock}', '{dan}')"
    cursor.execute(sql)
    conn.commit()
    """

    # record edit: code -> su, dan
    """
    code = int(input('code to edit: '))
    stock = int(input('edit stock: '))
    dan = int(input('edit dan: '))

    sql = f"update goods set stock ={stock}, dan ={dan} where code = {code}"
    cursor.execute(sql)
    conn.commit()
    """

    # deleting record
    """
    code = int(input("code to delete: "))
    sql = f"delete from goods where code = {code}"
    cursor.execute(sql)
    conn.commit()
    """

    # record search
    sql = "select * from goods"
    cursor.execute(sql)
    rows = cursor.fetchall()

    for row in rows:
        print(row[0], row[1], row[2], row[3])

    # searching the product name
    code = input("Enter the product code: ")
    sql = f"select * from goods where code = {code}"
    cursor.execute(sql)
    rows = cursor.fetchall()

    if rows :
        for row in rows:
            print(row)
    else:
        print('no searched record')

except Exception as e:
    print("Exception: ", e)
    conn.rollback()
finally:
    cursor.close()
    conn.close()

2 washing 3 55000000.0
3 oven 0 0.0
4 HDTV 0 1500000.0
5 laptop 3 25000000.0
no searched record