## CSV, Excel

In [6]:
import json

import pandas as pd
import os

print(os.getcwd())

# reading cvs file
descriptive = pd.read_csv('/Users/followthesnake/Desktop/data/descriptive.csv')
print('info: ', descriptive.info()) # file information
print('head: ', descriptive.head()) # first five rows include column name

# extracting column
resident = descriptive.resident #object.columnName
gender = descriptive['gender'] #object['columnName']
age = descriptive['age']
cost = descriptive['cost']

# extracting max num
print('max resident: ', max(resident))
print('max age: ', max(age))
print('max cost: ', max(cost))

# minimum num
print('min resident: ', min(resident))
print('min age: ', min(age))
print('min cost: ', min(cost))

# average
from statistics import mean
#print('ave resident: ', round(mean(resident), 3))
#print('ave age: ', round(mean(age), 3))
#print('ave cost: ', round(mean(cost), 3))

# dept 빈도수
cost_count = {} # empty set

for key in cost:
    cost_count[key] = cost_count.get(key, 0) + 1

print(cost_count)

/Users/followthesnake/PycharmProjects/pythonProject/08_file_processing_package_install
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   resident  300 non-null    object
 1   gender    300 non-null    int64
 2   age       300 non-null    int64
 3   level     300 non-null    object
 4   cost      300 non-null    object
 5   type      300 non-null    object
 6   survey    187 non-null    float64
 7   pass      296 non-null    object
dtypes: float64(1), int64(2), object(5)
memory usage: 18.9+ KB
info:  None
head:    resident  gender  age     level cost type  survey pass
0        1       1   50         1  5.1    1     1.0    2
1        2       1   54         2  4.2    1     2.0    2
2                1   62         2  4.7    1     1.0    1
3        4       2   50            3.5    1     4.0    1
4        5       1   51         1    5    1     3.0    1
max resident:  5
max age:  69
max cost:  85.1
min resident:
min age:  40
min cost:
{'5.1': 11, '4.2': 3, '4.7': 6, '3.5': 5, '5': 18, '5.4': 5, '4.1': 9, '675': 1, '4.4': 4, '4.9': 4, '2.3': 2, '6.7': 8, '4.3': 5, '257.8': 1, '5.7': 6, '4.6': 5, '2.1': 1, '6.2': 13, '-75': 1, '               ': 30, '5.2': 9, '6.3': 16, '4': 15, '5.3': 7, '7.1': 4, '85.1': 2, '3.8': 3, '7': 3, '6.4': 11, '5.5': 9, '3.9': 3, '6': 14, '3.3': 2, '-457.2': 1, '5.6': 4, '-5.9': 2, '3.4': 2, '3': 6, '6.8': 4, '6.1': 8, '5.8': 5, '115.7': 2, '75.1': 2, '6.5': 4, '7.2': 2, '7.7': 4, '336.5': 2, '5.9': 2, '225.8': 1, '-4.8': 1, '4.8': 2, '-345.6': 1, '6.9': 4, '-235.8': 2, '7.9': 2, '4.5': 1}

## Reading Excel file

In [19]:
import numpy as np
import pandas as pd
import seaborn as sns
import sklearn

#시각화 패키지
import matplotlib.pyplot as plt

#시각화 할 때 한글 출력을 위한 패키지
import platform
from matplotlib import font_manager, rc

#한글 처리
#매킨토시 경우
if platform.system() == 'Darwin':
    rc('font',family='AppleGothic')
#윈도우인 경우
elif platform.system() == 'Windows':
    font_name = font_manager.FontProperties(
        fname = "c:/Windows/Fonts/malgun.ttf").get_name()
    rc('font',family=font_name)

In [25]:
studentScores = pd.ExcelFile('/Users/followthesnake/Desktop/data/score.xlsx')

score = studentScores.parse('sheet1')
print(score.info())

korean = score['국어']
english = score['영어']

from statistics import mean
print('high mean = ', mean(korean))
print('low mean = ', mean(english))

# or
print('Korean mean = ', korean.mean())
print('English mean = ', english.mean())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   국어      3 non-null      int64
 2   영어      3 non-null      int64
 3   수학      3 non-null      int64
dtypes: int64(3), object(1)
memory usage: 224.0+ bytes
None
high mean =  89.66666666666667
low mean =  89.66666666666667
Korean mean =  89.66666666666667
English mean =  89.66666666666667

## JSON (JavaScript Object Notation) file

In [ ]:
# network standard
# Express data as key-value pair

# encoding : python object(dict or list) -> json(key:value)
# decoding : json(key:value) -> python object(dict or list)

'''
encoding syntax:
json.dumps(objectName)

decoding syntax:
jason.loads(jsonString)
'''

In [35]:
import json
# json encoding
user = {'id': 1234, 'name':'Tyler'}

print(type(user)) # dict
print(user['name'])

jsonString = json.dumps(user, ensure_ascii=False) # Does not apply ASCII type encoding

# print stirng
print(jsonString)
print(type(jsonString))

# json decoding
pyObj = json.loads(jsonString)
print(type(pyObj))

# Dict data check
print(pyObj['name'])
for key in pyObj:
    print(key, ':', pyObj[key])

<class 'dict'>
Tyler
{"id": 1234, "name": "Tyler"}
<class 'str'>
<class 'dict'>
Tyler
id : 1234
name : Tyler

In [42]:
file = open('/Users/followthesnake/Desktop/data/usagov_bitly.txt', mode='r', encoding='utf-8')

# reading the file in unit of lines
lines = file.readlines()
#print(lines)


# json decoding (json -> dict)
rows = [json.loads(row) for row in lines]
print('rows: ', len(rows))
# length of the list element = number of json line
# one element = one line of json


for row in rows[:10] : #10 rows, or elements
    print(row)
    print(type(row))

# dict -> DataFrame
import pandas as pd
recode_df = pd.DataFrame(rows)
print(recode_df.info())

rows:  3560
{'a': 'Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/535.11 (KHTML, like Gecko) Chrome/17.0.963.78 Safari/535.11', 'c': 'US', 'nk': 1, 'tz': 'America/New_York', 'gr': 'MA', 'g': 'A6qOVH', 'h': 'wfLQtf', 'l': 'orofrog', 'al': 'en-US,en;q=0.8', 'hh': '1.usa.gov', 'r': 'http://www.facebook.com/l/7AQEFzjSi/1.usa.gov/wfLQtf', 'u': 'http://www.ncbi.nlm.nih.gov/pubmed/22415991', 't': 1331923247, 'hc': 1331822918, 'cy': 'Danvers', 'll': [42.576698, -70.954903]}
<class 'dict'>
{'a': 'GoogleMaps/RochesterNY', 'c': 'US', 'nk': 0, 'tz': 'America/Denver', 'gr': 'UT', 'g': 'mwszkS', 'h': 'mwszkS', 'l': 'bitly', 'hh': 'j.mp', 'r': 'http://www.AwareMap.com/', 'u': 'http://www.monroecounty.gov/etc/911/rss.php', 't': 1331923249, 'hc': 1308262393, 'cy': 'Provo', 'll': [40.218102, -111.613297]}
<class 'dict'>
{'a': 'Mozilla/4.0 (compatible; MSIE 8.0; Windows NT 6.1; WOW64; Trident/4.0; SLCC2; .NET CLR 2.0.50727; .NET CLR 3.5.30729; .NET CLR 3.0.30729; Media Center PC 6.0; .NET4.0C; .NET4.0E; InfoPath.3)', 'c': 'US', 'nk': 1, 'tz': 'America/New_York', 'gr': 'DC', 'g': 'xxr3Qb', 'h': 'xxr3Qb', 'l': 'bitly', 'al': 'en-US', 'hh': '1.usa.gov', 'r': 'http://t.co/03elZC4Q', 'u': 'http://boxer.senate.gov/en/press/releases/031612.cfm', 't': 1331923250, 'hc': 1331919941, 'cy': 'Washington', 'll': [38.9007, -77.043098]}
<class 'dict'>
{'a': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_8) AppleWebKit/534.52.7 (KHTML, like Gecko) Version/5.1.2 Safari/534.52.7', 'c': 'BR', 'nk': 0, 'tz': 'America/Sao_Paulo', 'gr': '27', 'g': 'zCaLwp', 'h': 'zUtuOu', 'l': 'alelex88', 'al': 'pt-br', 'hh': '1.usa.gov', 'r': 'direct', 'u': 'http://apod.nasa.gov/apod/ap120312.html', 't': 1331923249, 'hc': 1331923068, 'cy': 'Braz', 'll': [-23.549999, -46.616699]}
<class 'dict'>
{'a': 'Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/535.11 (KHTML, like Gecko) Chrome/17.0.963.79 Safari/535.11', 'c': 'US', 'nk': 0, 'tz': 'America/New_York', 'gr': 'MA', 'g': '9b6kNl', 'h': '9b6kNl', 'l': 'bitly', 'al': 'en-US,en;q=0.8', 'hh': 'bit.ly', 'r': 'http://www.shrewsbury-ma.gov/selco/', 'u': 'http://www.shrewsbury-ma.gov/egov/gallery/134127368672998.png', 't': 1331923251, 'hc': 1273672411, 'cy': 'Shrewsbury', 'll': [42.286499, -71.714699]}
<class 'dict'>
{'a': 'Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/535.11 (KHTML, like Gecko) Chrome/17.0.963.79 Safari/535.11', 'c': 'US', 'nk': 0, 'tz': 'America/New_York', 'gr': 'MA', 'g': 'axNK8c', 'h': 'axNK8c', 'l': 'bitly', 'al': 'en-US,en;q=0.8', 'hh': 'bit.ly', 'r': 'http://www.shrewsbury-ma.gov/selco/', 'u': 'http://www.shrewsbury-ma.gov/egov/gallery/134127368675393.png', 't': 1331923252, 'hc': 1273672506, 'cy': 'Shrewsbury', 'll': [42.286499, -71.714699]}
<class 'dict'>
{'a': 'Mozilla/5.0 (Windows NT 5.1) AppleWebKit/535.11 (KHTML, like Gecko) Chrome/17.0.963.79 Safari/535.11', 'c': 'PL', 'nk': 0, 'tz': 'Europe/Warsaw', 'gr': '77', 'g': 'wcndER', 'h': 'zkpJBR', 'l': 'bnjacobs', 'al': 'pl-PL,pl;q=0.8,en-US;q=0.6,en;q=0.4', 'hh': '1.usa.gov', 'r': 'http://plus.url.google.com/url?sa=z&n=1331923253510&url=http%3A%2F%2F1.usa.gov%2FzkpJBR&usg=TF5iGSqK1_GSADtHqTqjuUZyMIY.', 'u': 'http://www.nasa.gov/mission_pages/nustar/main/index.html', 't': 1331923255, 'hc': 1331922854, 'cy': 'Luban', 'll': [51.116699, 15.2833]}
<class 'dict'>
{'a': 'Mozilla/5.0 (Windows NT 6.1; rv:2.0.1) Gecko/20100101 Firefox/4.0.1', 'c': None, 'nk': 0, 'tz': '', 'g': 'wcndER', 'h': 'zkpJBR', 'l': 'bnjacobs', 'al': 'bg,en-us;q=0.7,en;q=0.3', 'hh': '1.usa.gov', 'r': 'http://www.facebook.com/', 'u': 'http://www.nasa.gov/mission_pages/nustar/main/index.html', 't': 1331923255, 'hc': 1331922854}
<class 'dict'>
{'a': 'Opera/9.80 (X11; Linux zbov; U; en) Presto/2.10.254 Version/12.00', 'c': None, 'nk': 0, 'tz': '', 'g': 'wcndER', 'h': 'zkpJBR', 'l': 'bnjacobs', 'al': 'en-US, en', 'hh': '1.usa.gov', 'r': 'http://www.facebook.com/l.php?u=http%3A%2F%2F1.usa.gov%2FzkpJBR&h=fAQG5ntSGAQHqKPlWzuJKUA9LYeckHZCUxvjQipJDd7Rmmw', 'u': 'http://www.nasa.gov/mission_pages/nustar/main/index.html', 't': 1331923254, 'hc': 1331922854}
<class 'dict'>
{'a': 'Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/535.11 (KHTML, like Gecko) Chrome/17.0.963.79 Safari/535.11', 'c': None, 'nk': 0, 'tz': '', 'g': 'zCaLwp', 'h': 'zUtuOu', 'l': 'alelex88', 'al': 'pt-BR,pt;q=0.8,en-US;q=0.6,en;q=0.4', 'hh': '1.usa.gov', 'r': 'http://t.co/o1Pd0WeV', 'u': 'http://apod.nasa.gov/apod/ap120312.html', 't': 1331923255, 'hc': 1331923068}
<class 'dict'>
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3560 entries, 0 to 3559
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   a            3440 non-null   object
 1   c            2919 non-null   object
 2   nk           3440 non-null   float64
 3   tz           3440 non-null   object
 4   gr           2919 non-null   object
 5   g            3440 non-null   object
 6   h            3440 non-null   object
 7   l            3440 non-null   object
 8   al           3094 non-null   object
 9   hh           3440 non-null   object
 10  r            3440 non-null   object
 11  u            3440 non-null   object
 12  t            3440 non-null   float64
 13  hc           3440 non-null   float64
 14  cy           2919 non-null   object
 15  ll           2919 non-null   object
 16  _heartbeat_  120 non-null    float64
 17  kw           93 non-null     object
dtypes: float64(4), object(14)
memory usage: 500.8+ KB
None