# format
## format(value, "format")

In [9]:
# used in print() function
# print("%양식문자" %(값))
"""
%d : 10진수
%o : 8진수
%x : 16진수
%f : 실수 (%전체자릿수.소수점자릿f)
%s : 문자열
%c : 단일 문자열
"""

#format(value, "format")
print("pie=", format(3.14159, "8.3f"))
print("price=", format(100000, "10d"))
print("price=", format(100000, "3,d"))

pie=    3.142
price=     100000
price= 100,000

In [1]:
#print("%양식문자" %(값))
name = "Tyler"
age = 35
price = 120.98234
print("이름: %s, 나이: %d, data = %.2f" %(name, age, price))

이름: Tyler, 나이: 35, data = 120.98

## 외부상수 출력
### print("{}".format(value))

In [5]:
# {}기호를 이용해 외부 값을 순서대로 받아서 출력
# Useful when writing SQL sentences
name = 'Tyler'
age = '34'
price = '9000000'

print("name: {}, age: {}, data={}".format(name, age, price))
print("name: {2}, age: {0}, data={1}".format(name, age, price))
#{n} can change the order of the value

# SQL using format
uid = input('id input: ')
query = f"select * from member where uid={uid}"
print(query)

name: Tyler, age: 34, data=9000000
name: 9000000, age: Tyler, data=34
select * from member where uid=hihi